[flake8]
ignore =
    # E203 (whitespace before ':') has false positive for array slicings
    E203,
    # these are on the default ignore list
    E121, E126, E226, E133, E203, E241,
    # We want line-break *before* the operator (new PEP8 style similar to math)
    W503,
    # Gives false positives when a name contains an uppercase acronym
    N802
